@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Lato';
    background-color: rgb(224, 182, 224);
    color: rgb(192, 134, 63);
}
button{
    background-color: black;
    color:white;
    height: 40px;
    width: 100px;
    cursor: pointer;
    margin-left: 1rem;
    text-align: center;
    font-style: bold;
    font-size: large;
    font: bold;
    

}
 
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
 
.card-body{
    margin: 1rem;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}
img{
    width: 100%;
    object-fit: cover;
}
h1{
    
    text-align: center;
    color:blueviolet;
    font-size: 50px;
    font-weight: 1000px;
}

